#app{
    align-items: center;
    justify-content: center;
    padding: 10%;
    margin: auto;
}

body{
    height:100%;
    width: 100%;
    background-image: url("image/back.jpg");
    background-repeat: no-repeat;
}



